*, *::after, *::before {
    margin: 0;
    padding: 0;
}

.main {
    height: 100%;
    width: 100%;
    background: #f5f5ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    .header {
        flex-basis: 40%;
        width: 100%;
        background: linear-gradient((45deg,rgba(0,0,0,0.5)50%, (rgba(0,0,0,0) 50%))), url('../../../assets/matheus-ferrero-7EM79VNJsx4-unsplash.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;

        .user-header {
            flex: 0 0 15%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 1em;
            padding-right: 1em;

            .list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    list-style: none;
                    padding-right: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    cursor: pointer;
                    


                    a {
                        text-decoration: none;
                        color: #fff;

                      
                    }


                }
                .btn-create-account {
                    background:#db6c50;
                    padding: .4em;
                    border-radius: 3px;
                    text-align: center;
                   

                }
               
                .profile {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  
                  p {
                      padding-left: .5em;
                      padding-right: 1em;
                      color: #ddd;
                      font-weight: bold;
                  }
                  .image-profile {
                      height: 5vh;
                      width: 5vh;
                      border-radius: 50%;
                      background: blue;
                      overflow: hidden;

                      img {
                          height: 100%;
                          width: 100%;
                          object-fit: cover;
                      }
                  }
                }
                .notifation {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .badge {
                        position: absolute;
                        top: 20%;
                        right: 25%;
                        padding: .2em;
                        border-radius: 50% !important;
                        color: #fff;
                        background: chocolate;
                    }

                    

                

                }

            }

        }
        .information {
            flex-basis: 85%;
            position: relative;
            width: 100%;

            .popOver {
                bottom: -20%;
                width: 30%;
                background: #fff;
                right: 3em;
                top: 0%;
                position: absolute;
                border-radius: 5px;
                z-index: 10000;
                padding: 1em;
                display: none;
                filter: drop-shadow(0px 0px 3px rgba(0,0,0,.5));
                &::after {
                    content:'';
                    height: 0;
                    width: 0;
                    border-width: 1em 1em 1em 0;
                    border-style: solid;
                    border-color: rgba(255,255,255,0) rgba(255,255,255,0)  rgb(255, 255, 255, 1) rgba(255, 255, 255, 0);
                    position: absolute;
                    transform: rotateY(180deg);
                    top: -7%;
                    right: 0%;
                    
                    }



                    .cardList {
                        height: 100%;
                        width: 100%;
                        
                        overflow: auto;
                        display: flex;
                        flex-direction: column;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .cardItem {
                            width: 100%;
                            flex: 0 0 20%;
                            min-height: 20%;
                            max-height: 20%;
                            width: 100%;
                            background: rgb(238, 238, 238);
                            margin: 1%;
                        }   
                    }
                
            }

        }
    }
}

.show {
    opacity: 1;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .user-header {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background: rgba(85, 85, 85, 0.5); 
    }

  }

  