<ion-content>

<!--   <div class="main animated fadeIn">
    <section class="header">
      <div class="user-header">
          <div class="logo">
            <p>LOGO</p>
          </div>
          <ul class="list">
            <div class="wraper-list animated" [ngClass]="{'slideInDown':menu, 'tada':!menu}">
                <li><a>Explore</a></li>
                <li><a>Contact Us</a></li>
                <li (click)="Login()"  *ngIf = "!showProfile1"><a>Sign In</a></li>
                <button class="btn-create-account riffle" (click)="CreateAccount()" *ngIf = "!showProfile1">Create Account</button>
                <ion-button class="btn-close" (click)="addClasseAnimate()" color="light" fill="clear">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
            </div>
              
              <div class="profile"  *ngIf="showProfile1">
                <p class="profile-name">Khuthy Muenda</p>
                <div class="image-profile">
                    <img src="../../../assets/matheus-ferrero-7EM79VNJsx4-unsplash.jpg" alt="">
                </div>
              </div>
              <div class="notifation" *ngIf="showProfile1">
                  <ion-button (click)="viewNotifications()" color="light" fill="clear" size="large">
                      <ion-icon name="notifications-outline"></ion-icon>
                    </ion-button>
                  <ion-badge class="badge" color="light">7</ion-badge>
                
                  
              </div>
              <ion-button (click)="addClasseAnimate()" size="large" color="light" fill="clear">
                <ion-icon name="menu"></ion-icon>
              </ion-button>
           
          </ul>
      </div>
      <div class="information">

          <div class="popOver animated" [ngClass]="{'fadeIn':popoverState, 'fadeOut':!popoverState}" id="popUp">
              <div class="close">
                <ion-button fill="clear" color="danger" size="small" (click)="animate()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </div>
              <div class="popover-header">
                <p style="font-weight: bold;"><small>My Notifications</small></p>
              </div>
              <div class="cardList-container">
                <div class="cardItems">
                  <div class="cardItem">
                    <div class="profile-image">

                    </div>
                    <div class="informations">
                      <p>Name</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          <div class="info-header-palet">
            <p style="color: #fff;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam deleniti molestias perspiciatis iure obcaecati veritatis hic sunt ratione harum? Quis, non. Iusto sapiente corrupti error inventore sint praesentium in. Fugit?</p>
          </div>
      </div>

     
    </section>

    <div class="tattoo-container">
      <div class="tattoo">
          <div class="header-tattoo">
            <p>Popular Tattoos</p>
          </div>
          <div class="tattoo-card-container">
                <div class="tattoo-card-list" *ngFor="let tattoo of Tattoos">
                  <div class="tattoo-cards">
                      <img src="../../../assets/kaizen-nguy-n-s9imzeGXKQ0-unsplash.jpg" alt="">
                      <div class="info-tattoo">
                        <article>
                          <h4 style="white-space: normal; font-size: 2.8vh;">{{ tattoo.doc.name}}</h4>
                          <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.doc.pricerange}}</p>
                          <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.doc.description}} </p>
                        </article>
                      </div>
                      <div class="booking">
                        <ion-button size="block" class="btn-book" (click)="Booking(tattoo)">Book</ion-button>
                      </div>
                  </div>
                  
                </div> 
          </div>
      </div> 
      <div class="tattoo">
        <div class="header-tattoo">
          <p>Design Tattoos</p>

        </div>
        <div class="tattoo-card-container">
            <div class="tattoo-card-list" *ngFor="let tattoo of Sketch">
              <div class="tattoo-cards" >
                <img src="{{tattoo.image}}" alt="">
                <div class="info-tattoo animated" [ngClass]="{'slideInDown' : tattooInfo, 'slideOutUp' : !tattooInfo}">
                  <article>
                    <h4 style="white-space: normal; font-size: 2.8vh;">{{tattoo.name}}</h4>
                    <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.pricerange}}</p>
                    <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.description}} </p>
          
                    
       
                    
                  </article>
                </div> 
                <div class="booking">
                  <ion-button  size="block" class="btn-book" (click)="Booking(tattoo)">Book</ion-button>
                </div>
              </div>
            </div>
        </div>

      </div> 
      <div class="tattoo">
        <div class="header-tattoo">
          <p>Previous Tattoos</p>
        </div>
        <div class="tattoo-card-container">
            <div class="tattoo-card-list" *ngFor="let tattoo of PreviouseWork">
              <div class="tattoo-cards">
                <img src="{{tattoo.image}}" alt="">
                <div class="info-tattoo">
                  <article>
                    <h4 style="white-space: normal; font-size: 2.8vh;">{{ tattoo.name}}</h4>
                    <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.pricerange}}</p>
                    <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.description}} </p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit recusandae, fuga repudiandae velit magnam veniam facere? Autem modi at unde veniam non impedit, perferendis ut ratione libero nisi? Pariatur, fugit.</p>
                    
                   
                    
       
                    
                  </article>

                </div> 
                <div class="booking">
                  <ion-button size="block" class="btn-book" (click)="Booking(tattoo)">Book</ion-button>
                </div>
              </div>
            </div>
        </div>
      </div> 
    </div>
  </div>
 -->

  

 
   <main class="main">
     <aside class="aside-container">
   

      <button (click)="CreateAccount()" style="font-size: 2.8vh;">Create Account</button>
      <br />
      <button (click)="logOut()" style="font-size: 2.8vh;">Logout</button>
      <br />
      <button (click)="Login()" style="font-size: 2.8vh;">SignIn</button>
      <button (click)="load()" style="font-size: 2.8vh;">Load</button>
    
     </aside>
     <section class="content-container">
       <header class="header">
         <h1 class="first-header"> Xplore Page</h1>

<button (click)="Notifications()" style="font-size: 2.8vh;">Notifications </button>
      


       </header>
       <div class="scroll-container">
     <h1>Popular Tattoos</h1>
          <h4 class="booking-header"></h4>
         <div class="add-tattoo" *ngFor="let tattoo of Tattoos">
           <img src="{{tattoo.doc.image}}" class="tattoo-image" alt="">
          <div class="info-tattoo">
            <article>
              <h4 style="white-space: normal; font-size: 2.8vh;">{{ tattoo.doc.name}}</h4>
              <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.doc.pricerange}}</p>
              <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.doc.description}} </p>
              
              <button (click)="Booking(tattoo)">Book</button>
              
 
              
            </article>
          </div>  
       
         </div>
     
           
       </div>


       <div class="scroll-container">
     
        <h1>Sketched Tattoos</h1>
          <h4 class="booking-header"></h4>
         <div class="add-tattoo" *ngFor="let tattoo of Sketch">
           <img src="{{tattoo.image}}" class="tattoo-image" alt="">
          <div class="info-tattoo">
            <article>
              <h4 style="white-space: normal; font-size: 2.8vh;">{{tattoo.name}}</h4>
              <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.pricerange}}</p>
              <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.description}} </p>
              
              <button (click)="Booking(tattoo)">Book</button>
              
 
              
            </article>
          </div>  
       
         </div>
     
           
       </div>



       <div class="scroll-container">
          <h1>Prevoius Work</h1>
          <h4 class="booking-header"></h4>
         <div class="add-tattoo" *ngFor="let tattoo of PreviouseWork">
           <img src="{{tattoo.image}}" class="tattoo-image" alt="">
          <div class="info-tattoo">
            <article>
              <h4 style="white-space: normal; font-size: 2.8vh;">{{ tattoo.name}}</h4>
              <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.pricerange}}</p>
              <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.description}} </p>
              
              <button (click)="Booking(tattoo)">Book</button>
              
 
              
            </article>
          </div>  
       
         </div>
     
           
       </div>


    <div class="sub-container">
           <div class="booking-container">
           
             <h4 class="booking-header">Design</h4>
             <div class="bookings-list">
               
      
            
                  <div class="scroll-container">
     
          <h4 class="booking-header"></h4>
         <div class="add-tattoo" *ngFor="let tattoo of Design">
           <img src="{{tattoo.image}}" class="tattoo-image" alt="">
          <div class="info-tattoo">
            <article>
              <h4 style="white-space: normal; font-size: 2.8vh;">{{ tattoo.name}}</h4>
              <p style="color: rgb(48, 167, 48); font-weight: bold; ; font-size: 2.7vh;">{{tattoo.pricerange}}</p>
              <p style="white-space: normal; ; font-size: 2.5vh;">{{tattoo.description}} </p>
              
 
            </article>
          </div>  
       
         </div>
     
           
       </div>
 
             
             </div>
        
            
           </div>
       <div class="analytics-container">
         
           <div class="graghs">
             <p>Gragh will be placed here (Back end)</p>
         </div>
       </div>
       </div>


    <ion-button (click)="logout()"> logout</ion-button>
     </section>
    </main>

 </ion-content>
 