<ion-header no-border>
  <ion-toolbar>
    
    <ion-title text-center style="font-weight: bold; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Create Account</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button fill="icon-only">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <main class="main">
      <!-- <div class="divitems">
          <ion-item *ngIf="!tattoo.image" class="imageitem" lines="none" >
           <ion-label position="stacked" id="profile_image" color="primary"></ion-label>
           <ion-input class="image-upload"  type="file" formControlName="image" accept="image/*" (change)="changeListener($event)"></ion-input>
         </ion-item>
   <ion-item class="imageitem" lines="none" *ngIf="tattoo.image"><img  src="{{tattoo.image}}" height="400px" width="400px" ></ion-item>
     </div> -->
 
    <section class="form-container">
        
            
            <ion-list>

                <ion-item>
                       
                    <ion-input type="text" name="name" [(ngModel)]="name" placeholder="Enter your full name"></ion-input>
                  </ion-item>

                     <ion-item>
                       
                        <ion-input type="text" name="name" [(ngModel)]="email" placeholder="Enter Email"></ion-input>
                      </ion-item>
                      
                  
                  <ion-item>
                       
                          <ion-input type="text" name="name" [(ngModel)]="password" placeholder="Enter password"></ion-input>                            
                    </ion-item>
                      
                     <ion-item>
                           <button (click)="register()">Register</button> or  <button (click)="SignIn()">SignIn</button>
                     </ion-item>
                     
                </ion-list>
            


   
    </section>
  </main>
  
  <!-- 
  <ion-label>Tattooname</ion-label>
  
  <ion-input type="text"[(ngModel)]="tattoo.name" ></ion-input>
  
 


  <ion-label>Pricerange</ion-label>
  <ion-input type="number"   [(ngModel)]="tattoo.pricerange"  ></ion-input>
 


    <ion-label>Categories</ion-label>
    <ion-select [(ngModel)]="tattoo.categories"  multiple="true">
      <ion-select-option value="Previous work" >Previous work</ion-select-option>
      <ion-select-option value="Sketch/design">Sketch/design</ion-select-option>
    </ion-select>
   


    <ion-label>Description</ion-label>
     <ion-input   type="text" [(ngModel)]="tattoo.description" ></ion-input>
   

     <button  (click)="addtattoo()" class="submit" ion-button full round>Add tatoo</button> 
    -->
 
</ion-content>

